.header-common {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80px;

  .logoImg {
    position: absolute;
    left: 15px;
    width: 162px;
    height: auto;
    z-index: 10;
  }

  .el-menu {
    justify-content: right;
    align-items: center;
    padding: 0 25px;
    width: inherit;
    height: 80px;

    .el-menu-item {
      height: 80px;
    }

    .el-avatar {
      box-shadow: rgb(235 235 235) 0px 0px 0px 2px !important;
    }
  }
}
